// Styling for the footer
footer {
  padding: 25px 40px;
  text-align: center;
  color: darken(white, 20%);
  background-color: $gray-darker;
  p {
    font-size: 12px;
    margin-bottom: 5px;
  }

  a {
    font-size: 1rem;
    font-weight: 400;
    color: fade-out(white, .2);
    &:hover,
    &:focus,
    &:active,
    &.active {
      text-decoration: none !important;
    }
  }
  .footer-nw__icon{
    margin-left: 10px;
  }
}
